/* Google Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Variables */
:root{
--cl-yl:#F8B602;
--cl-white:#fff;
--cl-blvc:#2E2E2E;
--cl-smoke:#A098AE;
--cl-green:#10C92D;
--cl-grey:#979797;
--cl-red:#EB5757;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
    position: relative;
}

img{
    display: block;
    height: auto;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__wrapper,
.food__types{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper{
    padding: 3% 0;
}

.brand__inner,
.see__all{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brand__inner{
    gap: 0 50px;
}

.see__all{
    gap: 10px;
}
.burger-menu{
    display: block;
}

.burger-menu span{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.burger-menu span:nth-child(2){
    margin: 5px 0;
}

.burger-menu span,
.hero__wrapper,
.see__all_title::before{
    background-color: var(--cl-yl);
}

.burger-menu,
.search__button{
    cursor: pointer;
}

.header__brand,
.food__type{
    color: var(--cl-blvc);
}

.header__brand{
    font-size: clamp(1.3rem,3vw,2.25rem);
    font-weight: 600;
}

.form__wrapper{
    position: relative;
}

.form__btn{
    position: absolute;
    top: calc(100% - 42px);
    left: 25px;
}

.form__input{
    padding: 16px 122px 16px 65px;
    border: none;
}

.form__input:focus{
    display: none;
}

.brand__btn{
    display: none;
}

.hero__wrapper{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 43px 0 37px 52px;
}

.hero__wrapper{
    background-image: url('../images/bg-img.png'),
                    url('../images/ellipse.png');
    background-size: 700px  ,auto ;
    background-repeat: no-repeat;
    background-position: right -150px center,
                        left -120px bottom -160px;  
}

.hero__title,
.hero__text{
    color: var(--cl-white);
}

.hero__title{
    font-size: clamp(1.25rem,3vw,2rem);
    font-weight: 700;
}

.hero__text{
    font-size:clamp(0.75rem,2vw,0.875rem);
    line-height: clamp(14px,3vw,24px);
    max-width: 480px;
    font-weight: 500;
}

.see__all{
    margin: 24px 0;
}

.food__type{
    font-size: clamp(1rem,3vw,1.5rem);
}

.see__all_title{
    font-size: clamp(0.875rem,2vw,1.125rem);
    font-weight: 400;
    position: relative;
}

.see__all_title{
    color: var(--cl-yl);
}

.see__all_title{
    position: relative;
}

.see__all_title::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: left;
}

.see__all_title:hover::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}