/* Google Fonts */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/Segoe\ UI\ Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Variables */
:root{
--cl-yl:#F8B602;
--cl-white:#fff;
--cl-blvc:#2E2E2E;
--cl-smoke:#A098AE;
--cl-green:#10C92D;
--cl-grey:#979797;
--cl-red:#EB5757;
}


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}


body{
    font-family: 'Poppins',sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.brand__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.burger-menu{
    display: block;
    cursor: pointer;
}

.burger-menu span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--cl-yl);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

.burger-menu span:nth-child(2){
    margin: 5px 0;
}

.header__brand{
    font-size: 2rem;
    color: var(--cl-blvc);
    font-weight: 700;
}

.header__form{
    position: relative;
}

.form__button{
    display: block;
    background-image: url(../images/icons/search-icon.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 10px );
    left: 24px;
}

.form__input{
    width: 513px;
    border: none;
    padding: 16px 118px 16px 64px;
}

.form__input:focus{
    outline: none;
}

.hero{
    background: var(--cl-yl);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hero__content{
    padding: 3rem;
    flex-basis: 600px;
}

.hero__title{
    font-size: 2rem;
    max-width: 385px;
}

.hero__text{
    font-size: 0.875rem;
    line-height: 24px;
}

.hero__text,
.hero__title{
    color: var(--cl-white);
}

.hero_banner img{
    width: 500px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}



.ellipse{
    position: absolute;
    z-index: 2;
}

.ellipse-1{
    bottom: -150px;
    left: -100px;
}

.ellipse-2{
    top: -170px;
    right: 170px;
    display: none;
}

.ellipse-3{
    bottom: -120px;
    right: -120px;
    display: none;
}

.food__type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.see__all{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

.see__all_text{
    font-size: 1.125rem;
    color: var(--cl-yl);
}

.type__title{
    color:  var(--cl-blvc);
    font-size: 1.5rem;
}

.food__type_container{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 50px;
}

.food__type_container::-webkit-scrollbar{
    display: none;
}

.food-box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.food-box_title{
    color: var(--cl-smoke);
}

.food-box_img{
    min-width: 116px;
    height: 116px;
}



