/* Google Fonts */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}


/* Variables */
:root{
--cl-yl:#F8B602;
--cl-white:#fff;
--cl-blvc:#2E2E2E;
--cl-smoke:#A098AE;
--cl-green:#10C92D;
--cl-grey:#979797;
--cl-red:#EB5757;
}


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}


body{
    font-family: 'Poppins',sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__wrapper,
.food__types__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper{
    padding: 2% 0;
}

.brand__inner,
.see__all_box{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.brand__inner{
    gap: 50px;
}

.see__all_box{
    gap: 10px;
}

.header__brand{
    color: var(--cl-blvc);
}

.header__brand{
    font-size: 2.25rem;
    font-weight: 700;
}

.burger-menu,
.form__btn,
.see__all_box,
.card__box{
    cursor: pointer;
}

.burger-menu{
    display: block;
}

.burger-menu span{
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--cl-yl);
}


.burger-menu span:nth-child(2){
    margin: 5px 0;
}

.form__wrapper{
    position: relative;
}

.form__btn{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none; 
    position: absolute;
    top: calc(50% - 10px);
    left: 25px;
}

.form__input{
    width: 500px;
    padding: 16px 110px 16px 65px;
    border: none;

}

.form__input:focus{
    outline: none;
}


.hero__wrapper{
    background: var(--cl-yl);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.ellipse{
    position: absolute;
}

.ellipse-1{
    bottom: -150px;
    left: -120px;
}

.ellipse-2{
    top: -170px;
    right: 170px;
}

.ellipse-3{
    bottom: -120px;
    right: -120px;
}

.ellipse-2,.ellipse-3{
    display: none;
}

.hero__content{
    flex-basis: 500px;
    padding: 40px 0 50px 40px ;
}

.hero__title{
    font-size: 2rem
}

.hero__text{
    font-size:0.875rem ;
}

.hero__banner{
    width: 350px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.hero__text,
.hero__title{
    color: var(--cl-white);
}

.food__types__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food__types__inner{
    margin: 25px 0;
}

.types_title{
    font-size: 1.5rem;
}

.types__see-all{
    font-size: 1.125rem;
    color: var(--cl-yl);
    position: relative;
}

.types__see-all::before{
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--cl-yl);
    transform-origin: left;
    position: absolute;
    top: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}

.types__see-all:hover::before,
.types__see-all:active::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.food__scroll_container{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 50px;
    margin: 25px 0;
}

.food__scroll_container::-webkit-scrollbar{
    display: none;
}

.card__box{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.card__box:hover .card__title{
    color:var(--cl-yl);
}

.card__image{
    min-width: 106px;
}

.card__title{
    font-size: 1rem;
    color: var(--cl-smoke);
    font-weight: 400;
}

